{{#if loggedIn}}
    <!--nav col-->
    <div class="col-2">
        <nav class="nav-container">
             <h1 href="#" class="nav-title">
            {{!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg> --}}
            MyHaus
            </h1>
            </nav>
    </div>

{{#each property as |property|}}
<div class="col-10 main-container">
    <h1 class="dashboard-title">Hello, <br>{{tenant.first_name}} {{tenant.last_name}}!</h1>
    <div class="row justify-content-start">
        <div class="table-wrapper shadow col-5">
            <div class="table-title">Your Information</div>
            <div class="row table-info">
                <div class="col-6">
                    <form action="">
                        <fieldset disabled="disabled">
                            <div class="form-group">
                                <label for="disabledTextInput">First Name</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{tenant.first_name}}">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Last Name</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{tenant.last_name}}">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Email</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{tenant.email}}">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-6">
                    <form action="">
                        <fieldset disabled="disabled">
                            <div class="form-group">
                                <label for="disabledTextInput">Complex</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{property.complex}}">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Unit</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{property.unit}}">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Rent</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{property.rent}}">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <a href="#" data-toggle="modal" data-target="#update-info" class="update-button">Update Info</a>
        </div>
        <div class="col-6">
            <div class="col-12 service-wrapper shadow">
                <div class="table-title">Request Maintenance</div>
                <p class="table-desc">Please contact us if you need any maintenance on:</p>
                <div class="table-info">
                    <ul>
                        <li>Physical damages</li>
                        <li>Appliances</li>
                    </ul>
                    
                </div>
                
                <button type="button" id ="maintenance-begin-request" class="update-button">Begin Request</button>
                
            </div>
           
            <div class="col-12 service-wrapper shadow">
                <div class="table-title">Update Pet Status</div>
                <p class="table-desc">Please update if you get or lose a pet</p>
                <button type="button" id="pet-begin-request" class="update-button">Update</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<!--Logout Button -->
<div style="width: 100%; position: absolute; right: 10px; bottom: 10px">
    <button type="button" class="update-button" id="landlordlogout">Log Out</button>
</div>
<!-- Maintenance Request Modal -->
    <div id="maintenance-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form>
                <label for="name">Subject/Title:</label>
                <input type="text" id="title" name="title"><br>
                <label for="description">Brief Description of Issue:</label>
                <input type="text" maxlength="100" id="maintenanceDescription" name="maintenanceDescription"><br>
                <button type="button" class="update-button" id="maintenance-submit-button">Submit</button>
            </form>
        </div>
    </div>

<!-- Pet Status Modal -->
    <div id="pet-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form>
                <p>Are you requesting to add or remove a pet?</p>
                <input type="radio" id="addPet" name="addPet" value="addPet">
                <label for="addPet">Add Pet</label><br>
                <input type="radio" id="removePet" name="removePet" value="removePet">
                <label for="removePet">Remove Pet</label><br>
                <p>Please indicate the type(s) and quantity of the pet(s) you wish to add or remove.</p>
                <label for="pet">Example: "Cat(2), Dog(1), Turtle(3)</label>
                <input type="text" maxlength="100" id="pet" name="pet"><br>
                <button type="button" class="update-button" id="pet-submit-button">Submit</button>
            </form>
        </div>
    </div>
<script src="/javascript/add-post.js"></script>
<script src="/javascript/tenant-logout.js"></script>
<script src="/javascript/tenant-modals.js"></script>
{{/if}}
