{{#each property as |property|}}
<div class="col-10 main-container">
    <h1 class="dashboard-title">Hello, <br>{{tenant.first_name}} {{tenant.last_name}}!</h1>
    <div class="row justify-content-start">
        <div class="table-wrapper shadow col-5">
            <div class="table-title">Your Information</div>
            <div class="row table-info">
                <div class="col-6">
                    <form action="">
                        <fieldset disabled="disabled">
                            <div class="form-group">
                                <label for="disabledTextInput">First Name</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{tenant.first_name}}">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Last Name</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{tenant.last_name}}">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Email</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{tenant.email}}">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-6">
                    <form action="">
                        <fieldset disabled="disabled">
                            <div class="form-group">
                                <label for="disabledTextInput">Address</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{property.complex}}">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Description</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{property.unit}}">
                            </div>
                            <div class="form-group">
                                <label for="disabledTextInput">Rent</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{property.rent}}">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <a href="#" data-toggle="modal" data-target="#update-info" class="update-button">Update Info</a>
        </div>
        <div class="col-6">
            <div class="col-12 service-wrapper shadow">
                <div class="table-title">Request Maintenance</div>
                <p class="table-desc">Please contact us if you need any maintenance on:</p>
                <div class="table-info">
                    <ul>
                        <li>Physical damages</li>
                        <li>Appliances</li>
                    </ul>
                </div>
                <button type="button" id ="maintenance-begin-request" class="update-button">Begin Request</button>
            </div>
            <div class="col-12 service-wrapper shadow">
                <div class="table-title">Update Pet Status</div>
                <p class="table-desc">Please update if you get or lose a pet</p>
                <button type="button" id="pet-begin-request" class="update-button">Update</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<div>
    <button type="button" class="update-button" id="landlordlogout">Log Out</button>
</div>

<!-- Maintenance Request Modal -->
    <div id="maintenance-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form>
                <label for="name">Subject/Title:</label>
                <input type="text" id="title" name="title"><br>
                <label for="description">Brief Description of Issue:</label>
                <input type="text" maxlength="100" id="maintenanceDescription" name="maintenanceDescription"><br>
                <button type="button" class="update-button" id="maintenance-submit-button">Submit</button>
            </form>
        </div>
    </div>

<!-- Pet Status Modal -->
    <div id="pet-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form>
                <p>Are you requesting to add or remove a pet?</p>
                <input type="radio" id="addPet" name="addPet" value="addPet">
                <label for="addPet">Add Pet</label><br>
                <input type="radio" id="removePet" name="removePet" value="removePet">
                <label for="removePet">Remove Pet</label><br>
                <p>Please indicate the type(s) and quantity of the pet(s) you wish to add or remove.</p>
                <label for="pet">Example: "Cat(2), Dog(1), Turtle(3)</label>
                <input type="text" maxlength="100" id="pet" name="pet"><br>
                <button type="button" class="update-button" id="pet-submit-button">Submit</button>
            </form>
        </div>
    </div>

